<div class="container-fluid login-container d-flex justify-content-center align-items-center py-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form p-4 border rounded shadow d-flex flex-column justify-content-center align-items-center">
        <h2>RoomClass</h2>
        <div class="form-group">            
            <input type="text" id="email" class="form-control" formControlName="email" placeholder="Usuario" required>
        </div>
        <div class="form-group">            
            <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-4">Iniciar sesion</button>
        <hr>        
    </form>
</div>
