.login-container{
    background-color: rgb(38, 106, 161);
    height: 100vh;
}
.login-form{
    background-color: white;
    width: 33%;
}
h2{
    margin: 30px 0;
    font-weight: bold;
    font-size: 3rem;
}
hr{    
    width: 100%;    
    border: 1px solid;
}   
.form-group{
    margin: 10px 0;
    width: 100%;
}
