<div class="modal-header">
  <h3 class="modal-title">Agregar RA</h3>
</div>
<div class="modal-body">
  <form #raForm="ngForm">
    <div class="form-group">
      <label>Descripción</label>
      <input name="description" [(ngModel)]="ra.raDescription" required />
    </div>
    <div class="modal-footer">
      <button type="button" class="cancel" (click)="onCancel()">Cancelar</button>
      <button type="button" class="save" [disabled]="!raForm.form.valid" (click)="onSave()">Guardar</button>
    </div>
  </form>
</div>