<app-generic-view-details
    [item]="item"
    [title]="'Detalles de la Asignación de Materia'">
</app-generic-view-details>
<app-generic-view-competences
    [competencesWrapper]="competences"
    [assignSubjectView]="true"
    (onViewRA)="viewRA($event)"
    (onAddCompetence)="addCompetence()"
    (onAddRA)="addRA($event)"
    (onEditRA)="editRA($event)"
    (onDeleteRA)="deleteRA($event)"
    (onDeleteCompetence)="deleteCompetence($event)"
    (onEditCompetence)="editCompetence($event)"
    >
</app-generic-view-competences>



