<div class="container-flex m-3">
    <div class="d-flex justify-content-between mb-3">
        <h3>Rubrica</h3>
        <div class="d-flex col-3 justify-content-between align-items-center">
            <span>Nota: 0/5</span>
            <button class="btn btn-primary">Asignar Evaluador</button>
        </div>            
    </div>
    <div class=" border rounded shadow-sm">
        <div class="criterio-container d-flex justify-content-between border-bottom mb-2 p-3">
            <span>CE 1:Calidad de código</span>
            <div class="col-2 d-flex justify-content-between align-items-center">                
                <span>Nota:0/5</span>
                <span>Peso:30%</span>
            </div>
        </div>
        <div class="row px-5 py-3 col-6">
            <div class="col-6 border rounded p-5 d-flex flex-column align-items-center bg-primary text-white">
                <h5>Basico</h5>
                <span>Nivel muy suave</span>
                <span>0.5</span>
            </div>
            <div class="col-6 border rounded p-5 d-flex flex-column align-items-center bg-success text-white">
                <h5>Medio malo</h5>
                <span>Nivel menos suave</span>
                <span>1.5</span>
            </div>

        </div>

    </div>
</div>
