<div class="siderbar-container w-100 border radious">
    <div class="user-info d-flex flex-column align-items-center my-5">
        <h2>RoomClass</h2>
        <i class="fa-solid fa-circle-user fa-3x"></i>
        <div class="mt-3 d-flex align-items-center">
            <h3 class="me-2">{{user?.first_name}} {{user?.last_name}}</h3>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu">
                    <li>
                        <button class="dropdown-item" type="button" (click)="goToUserManagement()">
                            <i class="fa-solid fa-user-gear me-2"></i>Gestionar usuario
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item" type="button" (click)="logout()">
                            <i class="fa-solid fa-right-from-bracket me-2"></i>Cerrar sesión
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <h4>{{user?.rol}}</h4>
    </div>
    <div class="links d-flex flex-column align-items-center border-top py-3">
        <a class="link mb-2" [routerLink]="'/home/programa'" routerLinkActive="active">
            <i class="fa-solid fa-graduation-cap me-2"></i>Programa
        </a>
        <a class="link mb-2" [routerLink]="'/home/asignaturas'" routerLinkActive="active">
            <i class="fa-solid fa-book me-2"></i>Asignaturas
        </a>
        <a class="link mb-2" [routerLink]="'/home/docentes'" routerLinkActive="active">
            <i class="fa-solid fa-chalkboard-user me-2"></i>Docentes
        </a>
    </div>
    <div class="d-flex flex-column align-items-center mt-4">
        <button class="btn btn-danger w-75" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket me-2"></i>Cerrar sesión
        </button>
    </div>
</div>